


<form action="/users/create-action" method="POST" class="col-8 border p-3 form-dashboard mx-auto">
  <div class="form-group d-flex">
    <div class="col-6">
      <label>Titre</label>
      <input type="text" class="form-control" placeholder="Atelier-création, ..." name="title">
    </div >
    <div class="col-6">
      <label>Lieu</label>
      <input type="text" class="form-control" placeholder="Espace imaginaire,  ..." name="place">
    </div>
  </div>
  <div class="form-group d-flex">
    <div class="col-6">
      <label>Période</label>
      <input type="text" class="form-control" placeholder="Septembre - Février 2020 ..." name="period">
    </div>
    <div class="col-6">
      <label>Ville</label>
      <input type="text" class="form-control" placeholder="Saint-Denis" name="city" >
    </div>
  </div>
  
  
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" placeholder="Montjoie ! Saint-Denis ! est une œuvre théâtrale in situ ..." name="description"></textarea>
  </div> 

  <div class="button-container">
    <button type="submit" class="btn btn-warning text-white action-button">Créer </button>
  </div>
  </form>


