<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
  <header>
    <div class="hand-nav">      
      <a href="/accueil"><img src="/images/logo.png" class="logo" alt="Logo d'Hoc Momento "/></a>
      <div class="display-menu">
        <div class="home-icon">
          <ul class="dropdown-menu close" id="dropdown-menu">
            <li class="li-dropdown"><a href="/compagnie" class="nav-link-drop black">Compagnie</a> </li>
            <li class="li-dropdown"><a href="/actions-culturelles" class="nav-link-drop black">Actions Culturelles</a> </li>
            <li class="li-dropdown"><a href="/spectacles" class="nav-link-drop black">Spectacles</a> </li>
            <li class="li-dropdown"><a href="/agenda" class="nav-link-drop black">Agenda</a> </li>
            <li class="li-dropdown"><a href="/equipe" class="nav-link-drop black ">Equipe</a> </li>
            <li class="li-dropdown"><a href="/partenaires" class="nav-link-drop black ">Partenaires</a> </li>
            <li class="li-dropdown"><a href="/contact" class="nav-link-drop black ">Contact</a> </li>
          </ul>
          <i class="fas fa-ellipsis-h dropdown red" id="icon"></i>
        </div>
      </div>
      <nav class="nav-links">
        <a href="/compagnie" class="nav-link yellow">
          <span data-span="COMPAGNIE">
            COMPAGNIE
          </span>
        </a>
        <a href="/actions-culturelles" class="nav-link yellow">
          <span data-span="ACTIONS CULTURELLES">
            ACTIONS CULTURELLES
          </span>
        </a>
        <a href="/spectacles" class="nav-link yellow">
          <span data-span="SPECTACLES">
            SPECTACLES
          </span>
        </a>
        <a href="/agenda" class="nav-link yellow">
          <span data-span="AGENDA">
            AGENDA
          </span>
        </a>
        <a href="/equipe" class="nav-link yellow">
          <span data-span="ÉQUIPE">  
            ÉQUIPE
          </span>
        </a>
        <a href="/partenaires" class="nav-link yellow">
          <span data-span="PARTENAIRES">
            PARTENAIRES
          </span>
        </a>
        <a href="/contact" class="nav-link yellow">
          <span data-span="CONTACT">
            CONTACT
          </span>
        </a>
      </nav>
    </div>
  </header>
<body>
</body>
<script src="/javascripts/script1.js"></script>
</html>