<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>

</head>
  <header>
    <div class="hand-nav-admin">
      <a href="/accueil"><img src="/images/logo.png" class="logo" /></a>
      <div class="display-menu">
        <div class="home-icon">
          <ul class="dropdown-menu-admin close" id="dropdown-menu">
            <li class="li-dropdown"><a href="/dashboard/actions" class="nav-link-drop black">Actions Culturelles</a> </li>
            <li class="li-dropdown"><a href="/dashboard/shows" class="nav-link-drop black">Spectales</a> </li>
            <li class="li-dropdown"><a href="/dashboard/messages" class="nav-link-drop black">Messages</a> </li>
            <li class="li-dropdown"><a href="/dashboard/agenda" class="nav-link-drop black">Agenda</a> </li>
            <li class="li-dropdown"><a href="/dashboard/team" class="nav-link-drop black ">Équipe</a> </li>
            <li class="li-dropdown"><a href="/dashboard/partners" class="nav-link-drop black ">Partenaires & Soutiens</a> </li>
            <li class=""><a href="/dashboard/logout" class="nav-link-drop"><button class="logout-button">Se déconnecter</button></a> </li>
          </ul>
          <i class="fas fa-ellipsis-h dropdown white" id="icon"></i>
        </div>
      </div>

      <div class="nav-links col-7 font-weight-bold">
        <a href="/dashboard/actions" class="white link">ACTIONS CULTURELLES</a>
        <a href="/dashboard/shows" class="white link">SPECTACLES</a>
        <a href="/dashboard/messages" class="white link">MESSAGES</a>
        <a href="/dashboard/agenda" class="white link">AGENDA</a>
        <a href="/dashboard/team" class="white link">ÉQUIPE</a>
        <a href="/dashboard/partners" class="white link">PARTENAIRES & SOUTIENS</a>
        <a href="/dashboard/logout"><i class="fas fa-sign-out-alt white" title="Se déconnecter"></i></a>
      </div>
      
    </div>
  </header>
<body>
</body>
<script src="/javascripts/script1.js"></script>
</html>