<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
</head>
<body>
    <div class="hand-nav">      
      <a href="/accueil"><img src="/images/logo.png" class="logo" alt="Logo d'Hoc Momento "/></a>
      <div class="nav-links">
        <a href="/compagnie" class="nav-link yellow">COMPAGNIE</a>
        <a href="/actions-culturelles" class="nav-link red">ACTIONS CULTURELLES</a>
        <a href="/spectacles" class="nav-link red">SPECTACLES</a>
        <a href="/agenda" class="nav-link red">AGENDA</a>
        <a href="/equipe" class="nav-link yellow">EQUIPE</a>
        <a href="/partenaires" class="nav-link yellow">PARTENAIRES</a>
        <a href="/contact" class="nav-link yellow">CONTACT</a>
      </div>
    </div>
</body>
</html>