

<form action="/dashboard/create-support" method="POST" class="col-8 border p-3 form-dashboard mx-auto" enctype="multipart/form-data">
  <div class="form-group d-flex">
    <div class="fifty">
      <label>Nom</label>
      <input type="text" class="made-form" placeholder="Mains d'Œuvres, Les Poussières ..." name="name">
    </div >
    <div class="fifty">
      <label>Site</label>
      <input type="text" class="made-form" placeholder="https:// ..." name="link">
    </div>
  </div>

  <div class="form-group d-flex">
    <div class="fifty">
      <label>Logo (.png)</label><br/>
      <input type="file" name="image"/>
    </div>  
  </div>

  <div class="hundred text-center mt-3">
    <button class="btn btn-warning action-button text-white"> Créer</button>
  </div>

</form>


