<form action="/dashboard/create-event" method="POST" class="create-form" enctype="multipart/form-data">
  <div class="create-form-group form-flex">
    <div class="hundred">
      <label>Titre</label>
      <input type="text" class="made-form input-dashboard" placeholder="Montjoie! Saint-Denis, ..." name="title">
    </div >
  </div>

  <div class=" create-form-group hundred form-flex">
    <div class="input-50">
      <label>Date de début</label>
      <div id="startDateField">
        <input type="date" class="made-form input-dashboard" name="startDate" />
      </div>
    </div>
    <div class="input-50">
      <label>Date de fin</label>
      <div id="endDateField">
        <div class="d-flex">
        <input type="date" class="made-form input-dashboard" name="endDate" />
        <i class="fas fa-plus" id="addeventField" title="Ajouter une date, un lieu, une adresse et une ville"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="create-form-group form-flex">
    <div class="input-30">
      <label>Lieu</label>
      <div id="placeField">
        <input type="text" class="made-form input-dashboard" placeholder="Acc.mie Fratellini,  ..." name="place">
      </div>
    </div>
    <div class="input-30">
    <label>Adresse</label>
    <div id="addressField">
      <input type="text" class="made-form input-dashboard" placeholder="9 Rue des Cheminots, ..." name="address">
    </div>
  </div>
    <div class="input-30">
      <label>Ville</label>
      <div id="cityField">
        <input type="text" class="made-form input-dashboard" placeholder="Saint-Denis" name="city" >
      </div>
    </div>
  </div>
  
  <div class="create-form-group">
    <div class="hundred">
    <label>Description</label>
    <textarea class="made-form input-dashboard" placeholder="Montjoie ! Saint-Denis ! est une œuvre théâtrale in situ ..." name="description"></textarea>
  </div>
  </div> 

  <div class="create-form-group form-flex">
    <div class="input-50">
      <div>
      <label>Photo principale</label><br/>
      <input type="file" name="image" class="input-dashboard"/>
    </div>
    <br/>
    <div>
      <label>Genre</label> <br/>
        <input class="form-check-input" type="radio" name="type" value="Spectacle">
        <label class="form-check-label">Spectacle </label>
        <br/>
        <input class="form-check-input" type="radio" name="type" value="Action Culturelle">
        <label class="form-check-label"> Action culturelle </label>
      </div>
    </div>
    <div class="input-50">
      <label>Lien page</label> <br/>
      <div class="event-link-page-div  input-dashboard">
        <label class="strong">Spectacles</label> <br/>
        <% for (i=0; i< allShows.length; i++) {%>
          <div class="event-link-page">
            <input class="form-check-input" type="radio" name="id" value="<%= allShows[i]._id %>">
            <label class="form-check-label"> <%= allShows[i].title %>  </label>
          </div>    
        <% } %> 
        <br/>
        <label>Actions Culturelles</label> <br/>
        <% for (i=0; i< allActions.length; i++) {%>
          <div class="event-link-page">
            <input class="form-check-input" type="radio" name="id" value="<%= allActions[i]._id %>">
            <label class="form-check-label"> <%= allActions[i].place %>  </label>
          </div>    
        <% } %> 


      </div>
    </div>

  </div>
  

  <div class="hundred text-center mt-3">
    <button class="btn btn-create action-button"> Créer</button>
  </div>

</form>
<script src="/javascripts/script5.js"></script>


