<form action="/dashboard/create-show" method="POST" class="create-form" enctype="multipart/form-data">
  <div class="create-form-group form-flex">
    <div class="input-50">
      <label>Titre</label>
      <input type="text" class="made-form input-dashboard" placeholder="Montjoie! Saint-Denis, ..." name="title">
    </div >
    <div class="input-50 label">
      <label>Période</label>
      <div id="periodField">
        <div class="d-flex">
          <input type="text" class="made-form input-dashboard ninety" placeholder="Septembre - Février 2020 ..." name="period" > 
          <i class="fas fa-plus col-1" id="addPeriodField"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="create-form-group">
    <div class="hundred form-flex">
      <div class="fifty">
        <label>Lieu</label>
        <span  id="placeField">
          <input type="text" class="made-form input-dashboard" placeholder="Acc.mie Fratellini,  ..." name="place">
        </span>
      </div>
      <div class="fifty">
        <label>Ville</label>
        <span id="cityField">
          <input type="text" class="made-form input-dashboard" placeholder="Saint-Denis" name="city" >
        </span>
        </div>
    </div>
  </div>
  
  <div class="create-form-group hundred relative label">
    <label>Description <i class="far fa-question-circle" id="questionMark"></i></label>
    <textarea class="made-form input-dashboard" placeholder="Montjoie ! Saint-Denis ! est une œuvre théâtrale in situ ..." name="description"></textarea>
    <div class="legend-div close" id="legend">
      <ul class="legend"> 
        <li>Paragraphe: &lt;p class="aactions-desc"&gt; Texte &lt;/p&gt;</li>
        <li>Retour à la ligne: &lt;br/&gt;</li>
        <li>Sauter une la ligne: &lt;br/&gt;&lt;br/&gt;</li>
        <li>Liste:  <br/>
          &lt;ul class="aactions-desc"&gt; <br/>
          &lt;li&gt; Ligne1 &lt;/li&gt; <br/>
          &lt;li&gt; Ligne2 &lt;/li&gt;<br/>
          &lt;li&gt; ... &lt;/li&gt;<br/>
          &lt;/ul&gt; </li>
        <li>Italic: &lt;em&gt; <em> Italic </em> &lt;/em&gt; </li>
        <li>Gras:  &lt;strong&gt;<span class="bold"> En gras </span> &lt;/strong&gt;</li>
      </ul>
    </div>
  </div> 

  <label class="hundred label">Liens Articles</label>
  <div class="create-form-group hundred" id="linkField">
    <div class="hundred form-flex link-div">
      <div class="ten">
        <select name="type">
          <option value="pdf">PDF</option>
          <option value="article">Article</option>
          <option value="video">Vidéo</option>
        </select>
      </div>
      <div class="input-30">
        <input type="text" class="made-form input-dashboard" placeholder="Nom de l'article" name="nameLink"/>
      </div> 
      <div class="input-50">
        <input type="text" class="made-form input-dashboard" placeholder="Lien" name="link"/>
      </div>
      <i class="fas fa-plus ten" id="addField"></i>
    </div>
  </div>

  <div class="create-form-group form-flex">
    <div class="input-50 ">
      <label>Photo principale</label><br/>
      <input type="file" name="images" class="input-dashboard"/>
    </div>  
    <div class="input-50">  
      <label>Galerie photos</label> <br/>
      <input type="file" name="images" class="input-dashboard" multiple  />
    </div>
  </div>

  <div class="create-form-group form-flex">
    <div class="input-50">
      <label>Partenaires</label>
      <div class="partners-scroll input-dashboard">
      <% for (let i=0; i < allPartners.length; i++) {%> 
        <div>
          <input type="checkbox" value="<%= allPartners[i].id %>" name="partners_id">
          <label class="form-check-label">
            <%= allPartners[i].name  %>
          </label>
        </div>
      <% } %> 
      </div>
    </div>

    <div class="input-50 label">
      <label>Soutiens</label>
      <div class="partners-scroll input-dashboard">
      <% for (let i=0; i < allSupports.length; i++) {%> 
        <div>
          <input type="checkbox" value="<%= allSupports[i].id %>" name="support_id">
          <label class="form-check-label">
            <%= allSupports[i].name  %>
          </label>
        </div>
      <% } %> 
      </div>
    </div>

  </div>

  <div class="button-container">
    <button type="submit" class="btn btn-create action-button">Créer </button>
  </div>
  </form>

  <script src="/javascripts/script5.js"></script>


