


<form action="/dashboard/create-action" method="POST" class="col-8 border p-3 form-dashboard mx-auto" enctype="multipart/form-data">

  <div class="form-group d-flex">
    <div class="col-6">
      <label>Lieu</label><br/>
      <input type="text" class="made-form" placeholder="Espace imaginaire,  ..." name="place">
    </div>
    <div class="col-6">
      <label>Genre</label><br/>
      <input type="text" class="made-form" placeholder="Atelier-Création, ..." name="title">
    </div>
  </div>

  <div class="form-group d-flex">
    <div class="col-6">
      <label>Ville</label>
      <input type="text" class="made-form" placeholder="Saint-Denis" name="city" >
    </div>
    <div class="col-6">
      <label>Période</label>
      <input type="text" class="made-form" placeholder="Septembre - Février 2020 ..." name="period">
    </div>
  </div>
  
  <div class="form-group col-12 relative">
    <label>Description <i class="far fa-question-circle" id="questionMark"></i></label>
    <textarea class="made-form" placeholder="Montjoie ! Saint-Denis ! est une œuvre théâtrale in situ ..." name="description"></textarea>
    <div class="legend-div close" id="legend">
      <ul class="legend"> 
        <li>Paragraphe: &lt;p class="aactions-desc"&gt; Texte &lt;/p&gt;</li>
        <li>Retour à la ligne: &lt;br/&gt;</li>
        <li>Sauter une la ligne: &lt;br/&gt;&lt;br/&gt;</li>
        <li>Liste:  <br/>
          &lt;ul class="aactions-desc"&gt; <br/>
          &lt;li&gt; Ligne1 &lt;/li&gt; <br/>
          &lt;li&gt; Ligne2 &lt;/li&gt;<br/>
          &lt;li&gt; ... &lt;/li&gt;<br/>
          &lt;/ul&gt; </li>
        <li>Italic: &lt;em&gt; <em> Italic </em> &lt;/em&gt; </li>
        <li>Gras:  &lt;strong&gt;<span class="bold"> En gras </span> &lt;/strong&gt;</li>
      </ul>
    </div>
  </div>
  
  <label class="col-12">Liens Articles</label>
  <div class="form-group" id="linkField">
    <div class="col-12 d-flex link-div">
      <div class="col-2">
        <select name="type">
          <option value="pdf">PDF</option>
          <option value="article">Article</option>
          <option value="video">Vidéo</option>
        </select>
      </div>
      <div class="col-4">
        <input type="text" class="made-form" placeholder="Nom de l'article" name="nameLink"/>
      </div> 
      <div class="col-5">
        <input type="text" class="made-form" placeholder="Lien" name="link"/>
      </div>
      <i class="fas fa-plus" id="addField"></i>
    </div>
  </div>

  <div class="form-group d-flex">
      <div class="fifty">
        <label>Photo principale</label><br/>
        <input type="file" name="images"/>
      </div>  
      <br/>
      <div class="fifty">  
        <label>Gallerie photos</label> <br/>
        <input type="file" name="images" multiple  />
      </div>
  </div>

  <div class="form-group d-flex">
    <div class="fifty">
      <label>Partenaires</label>
      <div class="partners-scroll">
      <% for (let i=0; i < allPartners.length; i++) {%> 
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="<%= allPartners[i].id %>" name="partners_id">
          <label class="form-check-label">
            <%= allPartners[i].name  %>
          </label>
        </div>
      <% } %> 
      </div>
    </div>

    <div class="fifty">
      <label>Soutiens</label>
      <div class="partners-scroll">
      <% for (let i=0; i < allSupports.length; i++) {%> 
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="<%= allSupports[i].id %>" name="support_id">
          <label class="form-check-label">
            <%= allSupports[i].name  %>
          </label>
        </div>
      <% } %> 
      </div>
    </div>
  </div>

  <div class="button-container mt-5">
    <button type="submit" class="btn btn-warning text-white action-button">Créer </button>
  </div>

  </form>

<script src="/javascripts/script5.js"></script>