


<form action="/dashboard/create-action" method="POST" class="col-8 border p-3 form-dashboard mx-auto" enctype="multipart/form-data">

  <div class="form-group d-flex">
    <div class="col-6">
      <label>Titre/ Lieu</label><br/>
      <input type="text" class=" made-form" placeholder="Espace imaginaire,  ..." name="place">
    </div>
    <div class="col-6">
      <label>Genre</label>
      <input type="text" class="made-form" placeholder="Atelier-création, ..." name="title">
    </div >
  </div>

  <div class="form-group d-flex">
    <div class="col-6">
      <label>Ville</label>
      <input type="text" class="made-form" placeholder="Saint-Denis" name="city" >
    </div>
    <div class="col-6">
      <label>Période</label>
      <input type="text" class="made-form" placeholder="Septembre - Février 2020 ..." name="period">
    </div>
  </div>
  
  <div class="form-group d-flex">
    <div class="col-12">
      <label>Description</label>
      <textarea class="made-form" placeholder="Montjoie ! Saint-Denis ! est une œuvre théâtrale in situ ..." name="description"></textarea>
  </div>
  </div>

  <div class="form-group d-flex">
    <div class="col-6 ">
      <label>Photo principale</label><br/>
      <input type="file" name="images"/>
    </div>  
    <div class="col-6 m-auto ">  
      <label>Gallerie photos</label> <br/>
      <input type="file" name="images" multiple  />
    </div>
  </div>

  <div class="button-container mt-5">
    <button type="submit" class="btn btn-warning text-white action-button">Créer </button>
  </div>

  </form>


