<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
  
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

<body>
  <div class="max-container">
    <div class="slider-overflow">
      <div class="slider-outer">
        <div class="slider">
          <% for (let i=0; i< action.gallery.length; i++) {%> 
          <div class="slide">
            <img src="<%= action.gallery[i] %>" class="img_carrous" />
          </div>
        <% } %> 
        </div>
      </div>
      <button class="next">Next</button>
      <button class="prev">Prev</button>
    </div>
  </div>
<script src="/javascripts/script3.js" ></script>
</body>
</html>