<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
      <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
    <title>Hoc Momento - Compagnie</title>
  </head>

  <body>
    <%- include('./partials/navbar') %> 
    <div class="relative">
      <div class="company-banner-photo"></div>
      <div class="banner">
        <h1 class="banner-title white">LA COMPAGNIE</h1>
        <div class="arroow down">
          <div class="arrow-top"></div>
          <div class="arrow-bottom"></div>
        </div>
      </div>

      <div class="made-container company-container">
        <div class="company1">
          <img src="/images/company1.jpg" class="img-company1" alt="La compagnie Hoc Momento"/>
          <p class="company-text-photo"> <strong> Hoc Momento </strong>est une compagnie internationale et pluridisciplinaire, spécialisée dans le théâtre in situ. Composée de metteurs en scène, d’acteurs, de musiciens, de dramaturges et de scénographes, l’équipe artistique se rencontre dans son désir de faire exploser les cadres. 
            La première chose qui nous a réuni, c’est l’envie de travailler dans des espaces qui ne soient pas uniquement dédiés au théâtre : des espaces abandonnés ou vacants, des monuments délaissés ou des friches. Laisser la contrainte être motrice de création.
            Penser à partir du contexte. En s'imprégnant du lieu, de son histoire.
            Comment théâtraliser une gare abandonnée ? Un terrain vague de 5000 m² ? Combien faut-il d’acteurs pour les habiter ? Depuis 2014, Hoc Momento a réalisé des résidences in situ au Brésil dans une caserne et une gare, en France dans un hôpital, une université et une friche.  </p>
        </div>
        <br/>
        <div>
          <p class="company-text">  A chaque résidence, l’équipe a créé un spectacle déambulatoire, immersif et musical, mêlant de façon troublante le réel et la fiction. Un spectacle conçu collectivement par tous les participants. Souvent poétique. Parfois absurde et surréaliste. Toujours populaire. 
            Hoc Momento ne cherche pas à documenter l’histoire, mais à inventer un monde où la communauté pourrait voir incarnés ses propres mythes, dans une joyeuse épopée.
            Il y a dans cette forme théâtrale, il faut l’avouer, un rêve de tréteaux et de scène shakespearienne, d’agora et de procession carnavalesque… Le fantasme d’un théâtre ouvert à tous les vents où pourrait venir Reine de France ou simple badaud, et où tout le monde ressortirait bouffon.
            La deuxième chose qui nous a rassemblés, c’est le désir d’ouvrir au maximum la création et de la partager. On est très nombreux, on parle plusieurs langues, les espaces sont grands et inspirants, les idées bouillonnent … Pour chaque spectacle de la compagnie, il y a une vingtaine de personnes impliquées : des artistes professionnels et des habitants. Ils improvisent, font des recherches, réfléchissent.</p>
        </div>
        <div class="company2">
          <img src="/images/compagnie3.jpg" class="img-company1" alt="Un spectacle d'Hoc Momento" />
          <p class="company-text-photo">  Les spectacles sont foisonnants de cette créativité. L’équipe, réunie autour d’un noyau dur d’artistes permanents, se reconfigure à chaque résidence. 
            La troisième chose qui nous a donné envie de travailler ensemble, c’est le souhait que par ces communautés artistiques éphémères, la ville soit un peu transformée. Un peu réinventée. Qu’on reconfigure, en faisant du théâtre, d’autres manières de vivre ensemble. Simples. Mais bien réelles. <br/>
            En construisant la scénographie, à partir de matériaux de récupération. <br/>
            En invitant des groupes d’enfants à assister à des répétitions. <br/>
            En collaborant avec les associations locales. <br/>
            En mettant en commun des imaginaires. <br/>
            Et que cela crée du lien.           </p>
        </div>
      </div>
      <div class="test">
        <p>azerty</p>
      </div>
    </div>
    <%- include('./partials/footer') %> 
  </body>
</html>
