<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
  </head>

  <body>
    <%- include('./partials/navbar'); %> 
      <div class=" container mb-5">
        <h1 class="yellow font-weight-bold my-5 company-title">La compagnie</h1>
        <div class="company1 d-flex flex-wrap align-items-center ">
            <img src="/images/compagnie1.png" class="img-company1 mx-auto" />
          <p class="company-text-photo text-justify mx-auto "> <span class="first-word">Compagnie</span> internationale et pluridisciplinaire, nous désirons dépasser la séparation entre théâtre d’art et théâtre militant. Soucieux d’un art ancré dans la société, nous nous confrontons au monde.
            En réalisant des spectacles théâtraux dans des espaces vacants en milieu urbain selon le principe de la création in situ, nous créons des collectifs éphémères pour habiter artistiquement ces lieux à l’abandon et interrogeons les rapports qu’entretiennent les riverains avec les espaces de la ville.
            Nous aimons penser le rôle de l’artiste comme créateur mais aussi comme passeur, tricoteur de liens avec d’autres cultures, d’autres disciplines, d’autres imaginaires. </p>
        </div>

        <p class="company-text text-justify mx-auto mt-3"> <span class="first-word"> Car</span> si le contexte influence la création, l’enjeu est aussi de se demander comment la création peut transformer le contexte.
          Comment fonder des nouvelles relations entre les habitants et leur territoire ? </p>

          <div class="company1 d-flex flex-row-reverse flex-wrap align-items-center ">
            <img src="/images/culturelle.png" class="img-company1 mx-auto" />
            <p class="company-text-photo text-justify mx-auto"> <span class="first-word">Comment</span> une mise en scène et une dramaturgie urbaines peuvent théâtraliser le quotidien de la ville ?
              Artistes-chercheurs, nous faisons se rencontrer théorie et pratique par des débats et ouvertures publiques, par la diffusion de notre travail au sein du milieu universitaire et par des colloques organisés avec des scientifiques de différentes disciplines.
              Nous interrogeons la possibilité de l’art à transformer le monde et tentons de penser ces transformations avec un regard critique et toujours renouvelé, sur le monde mais aussi sur notre propre pratique.
              </p>
          </div>
      </div>



    <%- include('./partials/footer'); %> 
  </body>
</html>