<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js"></script>

  
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title>Hoc Momento - Contact</title>
  </head>
  <body>
  <%- include('./partials/navbar') %> 
  <div class="relative">
    <div class="contact-banner-photo"></div>
    <div class="banner">
      <h1 class="banner-title white">CONTACT</h1>
    </div>

      <div class="contact-front-container">

        <form id="verifyForm" class="contact-form">
          <div class="form-group">
            <input type="text" name="name" id="name" placeholder="Nom" class="made-form input-contact" />
          </div>

          <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Email" class="made-form input-contact" />
          </div>

          <div class="form-group">
            <input type="text" name="organisation" id="organisation" placeholder="Organisation" class="made-form input-contact" />
          </div>

          <div class="form-group">
            <textarea type="text" name="content" id="content" placeholder="Message" class="made-form input-contact"></textarea>
          </div>
          <div class="g-recaptcha" 
            data-sitekey="6LcI9-AaAAAAAHuCNfyx8DZsNy2vsq2-d4lVyf9I"
            data-callback='submitCaptcha'
            ></div>

          <div class="contact-button-div">
            <button disabled class="contact-button" id="contact-button" type="submit">Envoyer</button>
          </div>

        </form>
        
        <!-- <div class="newsletter-container">
          <form class="newsletter-form" action="/newsletter" method="POST" >
            <label class="newsletter-label">Newsletter:</label>
            <input type="email" name="email" placeholder="exemple@exemple.com" class="form-control input-contact" />
            <button class="newsletter-button" >Je m'inscris</button>
          </form>
        </div> -->
      </div>
  </div>
  <%- include('./partials/footer') %>

  <script>
    
    function submitCaptcha() {
      let submitBtn = document.getElementById("contact-button");
      console.log(submitBtn);
      submitBtn.removeAttribute('disabled')
      submitBtn.style.cursor = "pointer";
    }

    document.getElementById('verifyForm').addEventListener('submit', (e)=> {;
      e.preventDefault();

      const name = document.querySelector('#name').value;
      const email = document.querySelector('#email').value;
      const organisation = document.querySelector('#organisation').value;
      const content = document.querySelector('#content').value;
      const captcha = document.querySelector('#g-recaptcha-response').value;

      fetch('/verify', {
        method: "POST", 
        headers: {
          'Accept': 'application/json, text/plain, */*',
          'Content-type': 'application/json'
        },
        body: JSON.stringify({name, email, organisation, content, captcha})
      })
      .then(res => {
        document.getElementById('name').value = "";
        document.getElementById('email').value = "";
        document.getElementById('organisation').value = "";
        document.getElementById('content').value = "";

        let submitBtn = document.getElementById("contact-button");
        console.log(submitBtn);
        submitBtn.setAttribute('disabled', "")
        submitBtn.style.cursor = "not-allowed";

      })
    });

  </script>
  </body>
</html>