<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
</head>
<body>
  <%- include('./partials/navbarAdmin') %> 

  <div class="dashboard-container mx-auto col-10">

    <form class="mt-5 col-5 border p-3">
      <h3 class="red">Actions Culturelles</h3>
      <div class="form-group">
        <label>Titre</label>
        <input type="email" class="form-control" placeholder="Atelier-création, ...">
      </div>
      <div class="form-group">
        <label>Lieu</label>
        <input type="text" class="form-control" placeholder="Espace imaginaire,  ...">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" placeholder="Montjoie ! Saint-Denis ! est une œuvre théâtrale in situ ..."></textarea>
      </div> 
      <div class="form-group">
        <label>Période</label>
        <input type="text" class="form-control" placeholder="Septembre - Février 2020 ...">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  </div >

  <%- include('./partials/footer')%>
</body>
</html>