<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Hoc Momento - Home</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head> 
<body>
  <%- include('./partials/navbar'); %> 
  <div class="relative">
    <div class="carroussel home-carroussel" id="carrousselImg">
       
        <div class="img_carrous"><img src="/images/culturelle.png" />
        </div>

        
        <div class="img_carrous img1">
          <p class="home-title">LA COMPAGNIE</p>
          <div class="home-frame">
            <p class="home-text">HOC MOMENTO est une compagnie internationale et pluridisciplinaire qui désire dépasser la séparation entre théâtre d’art et théâtre militant.</p>
          </div>
        </div>

        <div class="img_carrous imgage2">
          <img src="/images/firstpage.png" />
        </div>
    </div>
    <div class="arrow gauche">
        <div class="arrow-top"></div>
        <div class="arrow-bottom"></div>
    </div>
    <div class="arrow droite">
        <div class="arrow-top"></div>
        <div class="arrow-bottom"></div>
    </div>
</div>

<%- include('./partials/footer'); %> 

<script src=/javascripts/script.js ></script>
</body>
</html>