<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Hoc Momento - Home</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
</head> 
<body>
  <%- include('./partials/navbar'); %> 
  <div class="aaction-big-container">
    <div class="home-banner-photo"></div>
    <div class="home-banner">
      <h1 class="home-title white">HOC MOMENTO</h1>
      <div class="arroow down">
        <div class="arrow-top"></div>
        <div class="arrow-bottom"></div>
      </div>
    </div>

    <div class="home-container">
      <p class="home-text yellow">"HOC MOMENTO est une compagnie internationale et pluridisciplinaire qui désire dépasser la séparation entre théâtre d’art et théâtre militant."</p>
    </div>
    <%- include('./partials/footer'); %> 
  </div>

</body>
</html>