<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Hoc Momento - Home</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <img src=/images/firstpage.png class="firstpage"/>
  <div class="landing">
  <%- include('./partials/navbar'); %> 

 
   
  <div class="relative">
    <div class="carroussel index-carroussel" id="carrousselImg">
       
        <div class="img_carrous"><img src="/images/culturelle.png" alt="Proximité de Versailles" />
        </div>

        
        <div class="img_carrous img1">
          <p class="home-title">La Compagnie</p>
          <div class="home-frame col-xl-8 col-9">
            <p class="home-text">HOC MOMENTO est une compagnie internationale et pluridisciplinaire ...</p>
          </div>
        </div>

        <div class="img_carrous"><img src="/images/firstpage.png"
                alt="Chambres et suites du Clos Tellier" />
        </div>
    </div>
    <div class="arrow gauche">
        <div class="arrow-top"></div>
        <div class="arrow-bottom"></div>
    </div>
    <div class="arrow droite">
        <div class="arrow-top"></div>
        <div class="arrow-bottom"></div>
    </div>
</div>

<%- include('./partials/footer'); %> 
</div>

<script src=/javascripts/script.js ></script>
<script src=/javascripts/script1.js ></script>
</body>
</html>