body {
  font: 14px;
  font-family: "Lato", sans-serif;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin-top: -.5%;
  min-height: 85vh;
  margin-left: -.5%;
}

.logo {
  width: 7em;
  margin-left: 30%;
  transform: rotate(-20deg);
}

/* =================================================
                        Navbar/Footer
==================================================*/

.hand-nav-admin{
  background-color:rgb(42, 42, 42);
  border-bottom: white 3px solid;
  height: 7.5em;
  padding: .7em;
  padding-left: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hand-nav {
  font-family: 'Lato', sans-serif;
  background-color: white;
  height: 7.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #c32527 4px solid;
  width: 100%;
}

header{
  position: sticky;
  top: 0%;
  z-index: 3;
}

header nav > a {
  overflow:hidden;
}

header nav a > span:first-child{
  position: relative;
  display: inline-block;
  transform: translateY(0); 
  transition: transform .5s;
}

header nav a > span:after {
  transition: .5s linear;  
  position: absolute;
  content: attr(data-span);
  top:100%;
  left:0;
  color: #c32527;
  /* color: #000; */
  font-weight: bold;
}

header nav a > span:hover{
  transform: translateY(-100%);   
}

.nav-links {
  font-weight: bold !important;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  width: 65%;
  margin-right: 3%;
  text-decoration: none;
}

.nav-link-drop{
  text-decoration: none;
  margin-left: 8%;
}

.nav-link-drop:hover{
  text-decoration: underline;
}
.li-dropdown{
  margin-left: -15%;
}
.li-dropdown:hover{
  background-color: rgb(250, 250, 250);
}

.home-icon{
  display: flex;
  position: relative;
}

.dropdown{
  transition-duration: .5s;
  font-size: 300%;
  cursor: pointer;
}

.dropdown-menu{
  background-color: white;
  border: 1px gray solid;
  border-radius: 5px;
  z-index: 5;
  position: absolute;
  width: 10em;
  right: 120%;
  list-style-type: none;
  font-size: 120%;
  line-height: 1.8em;
  text-align: left;
  padding-top: 20%;
  padding-bottom: 20%;
  display: none;
}
.dropdown-menu-admin{
  background-color: white;
  border: 1px gray solid;
  border-radius: 5px;
  z-index: 5;
  position: absolute;
  width: 13em;
  right: 100%;
  top: 10%;
  list-style-type: none;
  font-size: 120%;
  line-height: 1.8em;
  text-align: left;
  padding-top: 20%;
  padding-bottom: 20%;
  display: none;
}

.display-menu{
  display: none;
}

.fa-sign-out-alt{
  font-size: 150%;
  cursor: pointer;
}

@media screen and (max-width: 1500px){

  .display-menu{
    display: block;
    margin-right: 4%;
  }
  .nav-links{
    display: none;
  }
}

.nav-link{
  text-decoration: none;
  color: rgb(51, 51, 51);
  line-height:1.4em;
}

.nav-link:hover{
  text-decoration: underline;
}

.footer{
  background-color: rgb(42, 42, 42); 
  height: 6em;
  width: 100%;
  margin-top: auto;
  margin-bottom: -.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

/* =================================================
                        Home
==================================================*/

.home-container{
  min-height: 82vh;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}

.home-text{
  width: 80%;
  margin: auto;
  font-size: 400%;
  font-style: italic;
  text-align: center;
}

.home-title{
  font-size: 800%;
  font-weight: bold !important;  
}

.home-banner{
  background-color: rgba(0, 0, 0, 0.3);
  width: 101%;
  height: 83vh;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner-photo{
  background-image: url(/images/home-banner.jpg);
  background-size: cover;
  width: 100%;
  height: 80vh;
  min-height: 30em;
  object-fit: cover;
  background-attachment: fixed;
  top: 30em;
  background-repeat: no-repeat;
  z-index: 1;
}

/* ==========================================
              Compagnie
  =========================================== */
.company-container{
  padding-top: 10%;
}

.company-text{
  font-size: 120%;
  line-height: 2em;
  text-align: justify;
}

.company-text-photo{
  font-size: 120%;
  line-height: 2em;
  text-align: justify;
}

.company1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1501px){
  .img-company1{
    width: 50%;
  }
  .company-text-photo{
    width: 45%;
    margin-left: 2px;
  }
}
@media screen and (max-width: 1500px){
  .company1{
    display: flex;
    flex-direction: column-reverse;
  }
  .company2{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1500px){
  .company-text-photo{
    width: 80%;
    margin-bottom: 4%;
  }
  .company-text{
    width: 80%;
    margin: auto;
    margin-bottom: 4%;
  }
  .img-company1{
    width: 70%;
    margin-bottom: 4%;
  }
}



/* ==========================================
              Générique
  =========================================== */
  .made-container{
    min-height: 75vh;
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
  }

  i{
    cursor: pointer;
  }
  
  .relative{
    position: relative;
  }

  .yellow {
    color: #fbb03b;
  }
  
  .yellow:hover {
    color: #fbb03b;
  }

  .bg-yellow{
    background-color: rgba(249, 176, 58, 0.6);
  }
  
  .red {
    color: #c32527;
  }
  
  .red:hover {
    color: #c32527;
  }

  .bg-red{
    background-color: rgba(195, 37, 39, 0.5);
  }

  .white{
    color: #fff;
  }

  .white:hover{
    color: #fff;
  }

  .black{
    color: black;
  }

  .black:hover{
    color: black;
  }

  .link:hover{
    text-decoration: none !important;
  }

  .grey{
    color: rgb(122, 122, 122);
  }

  .grey:hover{
    color: rgb(122, 122, 122);
  }

  .italic{
    font-style: italic;
  }

  .shadow-black{
    text-shadow: 3px 3px #000
  }

  .shadow-white{
    text-shadow: 3px 3px #fff
  } 
  
  .transparent{
    color: transparent;
  }

  .link-white:hover{
  text-decoration: none;
  }

  .no-deco {
    text-decoration: none;
  }

  .no-deco:hover{
    text-decoration: underline;
  }
 
  .separator{
    border-top: 1px solid rgb(184, 184, 184);
    margin: auto;
    width: 90vw;
  }

  .space{
    height: 5%;
  }
  .button-container{
    text-align: center;
    margin-top: 5%;
  } 

  .hundred{
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  }
  .ninety-five{
    width: 93%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .ninety{
    width: 88%;
    margin-left: 1%;
    margin-right: 1%;  
  }
  .eighty-five{
    width: 83%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .eighty{
    width: 78%;
    margin-left: 1%;
    margin-right: 1%;  
  }
  .seventy-five{
    width: 73%;
    margin-left: 1%;
    margin-right: 1%
  }
  .seventy{   
    width: 68%;
    margin-left: 1%;
    margin-right: 1%;  
  }
  .sixty-five{
    width: 63%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .sixty{
    width: 58%;
    margin-left: 1%;
    margin-right: 1%;
    }  
    .fifty-five{
      width: 53%;
      margin-left: 1%;
      margin-right: 1%;
    }
  .fifty{
    margin-left: 1%;
    width: 48%;
    margin-right: 1%;
  }
  .forty-five{
    width: 43%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .forty{
    width: 38%;
    margin-left: 1%;
    margin-right: 1%;  
  }
  .thirty-five{
    width: 33%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .thirty{
    width: 28%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .twenty{
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .fifteen{
    width: 13%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .ten{
    width: 8%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .five{
    width: 3%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .bouton{
    margin: auto;
  }

  .event-update-photo{
    width: 30%;
    margin: auto;
  }

  .event-photo{
    height: 100%;
  }

  .big-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .alinea{
    margin-left: 3%;
  }

  .logout-button{
    background-color: rgb(54, 54, 54);
    color: white;
    margin-left: -25%;
    border: none;
    border-radius: 5px;
  }

  .none-style-list{
    list-style: none;
  }

  .pointer{
    cursor: pointer;
  }
  .btn{
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 1%;
    padding-right: 1%;
    outline: none;
  }
  .btn-secondary{
    color: white;
    background-color: #5A6167;
  }
  .btn-secondary:hover{
    background-color: rgb(70, 75, 80);
  }

  /* ==========================================
              Login
  =========================================== */
  .login-container{
    min-height: 80vh;
    width: 90%;
    padding-top: 5%;
    margin: auto;
  }

  .login-form{
    font-size: 1.2em;
    width: 40%;
    margin: auto;
    margin-top: 10%;
  }

  #login-button{
    margin: auto;
    color: white;
    text-align: center;
  }
  .text-center{
    text-align: center;
  }

   /* ==================================================================
                            Dashboard
  ====================================================================== */
/* =============================COMMON============================= */
.dashboard-container{
  position: relative;
  min-height: 85vh;
  font-family: "Lato", sans-serif;

}

.form-dashboard{
  margin-bottom: 10%;
}
.made-form{
  border: none;
  border-bottom: 1px rgb(184, 184, 184) solid;
  border-radius: 0%;
  width: 100%;
  color: rgb(124, 124, 124);
}
.made-form:focus{
  outline: transparent;
}
label{
  font-size: 1.2em;
}

.decrease{
  opacity: 0;
}
.increase{
  display: block;
}
/* =============================ACTIONS============================= */
.fa-question-circle:active{
  font-size: 90%;
}
.legend-div{
  border: 1px rgb(172, 172, 172) solid;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  width: 40%;
  padding: 1%;
  position: absolute;
  top: -17em;
  left: 9em;
  display: none;
  opacity: 0;
  z-index: -2;
}

.link-div{
  margin-top: 1%;
}

.partners-scroll{
  padding: 1%;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  height: 9em;
  overflow: auto;
}

.cultural-actions{
  margin-top:5em;
}

/* =============================SHOWS============================= */

/* =============================MESSAGES============================= */

/* =============================PARTNERS============================= */


.messages-title{
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 3.4em;
}

.action-button{
font-size: 1.3em;
}

.actions-list{
  font-size: 1.13em;
  padding-top: 5%;
}

.action-item{
  max-height:12em;
  overflow: auto;
}
.action-place-update{
  font-size: 110%;
}

.fa-plus{
  margin-right: 15%;
}

.photo-list{
  height: 10em;
}

.icon-column{
  height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icon-column-agenda{
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.delete-button{
  background-color: transparent;
  border: none;
}

.messages-container{
  margin: auto;
  margin-top: 5%;
  width: 60%;
}

.message-container{
  margin-bottom: 4em;
}

.message-header{
  position: relative;
}

.card-date{
  position: absolute;
  right: 2em;
}

.message-text{
  font-size: 113%;
}

.card-title{
  padding-bottom: 0.7em;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.message-buttons{
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  justify-content: space-between;
}

.read-card{
  width: 80%;
  height: 80%;
  font-size: 80%;
  margin: auto;
}

.card-title-read{
  font-size: 100%;
}

.exemple{
  font-size: 80%;
  font-style: italic;
}

.update-container{
  margin-top: 5%;
}

  /* =========================================================
                          Banner
============================================================ */
.banner{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 73vh;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-title{
  font-size: 600%;
}

.aactions-banner-photo{
  background-image: url(/images/cultural-action.jpg);
  background-size: cover;
  width: 100%;
  height: 70vh;
  min-height: 30em;
  object-fit: cover;
  background-attachment: fixed;
  top: 30em;
  background-repeat: no-repeat;
  z-index: 1;
}
.shows-banner-photo{
  background-image: url(/images/spectacle1.jpg);
  background-size: cover;
  width: 100%;
  height: 70vh;
  min-height: 30em;
  object-fit: cover;
  background-attachment: fixed;
  top: 30em;
  background-repeat: no-repeat;
  z-index: 1;
}
.agenda-banner-photo{
  background-image: url(/images/agenda.jpg);
  background-size: cover;
  width: 100%;
  height: 70vh;
  min-height: 30em;
  object-fit: cover;
  background-attachment: fixed;
  top: 30em;
  background-repeat: no-repeat;
  z-index: 1;
}
.partner-banner-photo{
  background-image: url(/images/partners.jpg);
  background-size: cover;
  width: 100%;
  height: 70vh;
  min-height: 30em;
  object-fit: cover;
  background-attachment: fixed;
  top: 30em;
  background-repeat: no-repeat;
  z-index: 1;
}
.company-banner-photo{
  background-image: url(/images/company.jpg);
  background-size: cover;
  width: 100%;
  height: 70vh;
  min-height: 30em;
  object-fit: cover;
  background-attachment: fixed;
  top: 30em;
  background-repeat: no-repeat;
  z-index: 1;
}
.team-banner-photo{
  background-image: url(/images/compagnie3.jpg);
  background-size: cover;
  width: 100%;
  height: 70vh;
  min-height: 30em;
  object-fit: cover;
  background-attachment: fixed;
  top: 30em;
  background-repeat: no-repeat;
  z-index: 1;
}

.contact-banner{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 53vh;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-banner-photo{
  background-image: url(/images/contact.jpg);
  background-size: cover;
  width: 100%;
  height: 50vh;
  min-height: 30em;
  object-fit: cover;
  background-attachment: fixed;
  top: 30em;
  background-repeat: no-repeat;
  z-index: 1;
}

.small-banner-photo{
  width: 100%;
  height: 20em;
  object-fit: cover;
}
.small-banner{
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 20em;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-banner-title{
  font-size: 400%;
  font-weight: bold;
}

.space-partner{
  height: 5em;
}

  /* =========================================================
                    Cultural Actions / Shows
============================================================ */
/* =============================ACTIONS============================= */
.aactions-text{
  width: 60%;
  text-align: justify;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.aactions-desc{
  font-size: 130%;
  line-height: 1.5em;
}
.aactions-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}
.aactions-img{
  position: relative;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5%;
  width: 46%;  
  height: 33em;
}
@media screen and (max-width: 1500px){
  .aactions-img{
    width: 65%;
    margin: auto;
    margin-bottom: 8%;
  }
}
.aactions-hover{
  position: absolute;
  top: 15%;
  left:5%;
  transition-duration: 700ms;
  background-color: rgba(249, 176, 58, 0.3);
  height: 70%;
  width: 90%;
  font-weight: bold;
}
.aactions-img:hover > .aactions-hover{
  transition-duration: 700ms;
  background-color: rgba(249, 176, 58, 0.7);
}
.aactions-place{
  font-size: 350%;
  text-align: center;
}
.aactions-title{
  text-align: center;
  font-size: 260%;
  padding-right: 25px;
  font-style: italic;
}
.aactions-period{
  text-align: center;
  padding-right: 25px;
  font-size: 2em;
  font-style: italic;
}
@media screen and (max-width: 1740px){
  .aactions-period{
    transition-duration: .8s;
    margin-top: -4%;
  }
  .aactions-title{
    transition-duration: .8s;
    margin-top: -3%;
  }
}

/* =============================ACTION============================= */
.aaction-place{
  font-size: 600%;
  font-weight: bold !important;
}

.aaction-container{
  padding-top: 5%;
  padding-bottom: 5%;
  width: 62%;
  margin: auto;
}
.aaction-desc{
  font-size: 130%;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 1.3em;
}

.aaction-link-title{
  font-size: 150%;
}
.aaction-link-subtitle{
  font-size: 130%;
  margin-bottom: -1%;
}
.aaction-link{
  font-size: 120%;
}

.aaction-partners-div{
  margin: auto;
}
.aaction-logo{
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.logo-partner-container{
  width: 10%;
  min-width: 10%;
  height: 5.6em;
  margin-bottom: 2.5%;
}
.logo-partner{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slider-container{
  position: relative;
  width: 75%;
  padding: 0px 15px;
  margin: 0 auto;
  margin-bottom: 3%;
  margin-top: 5%;
}
.aaction-gallery-div{
  text-align: center;
  margin-bottom: 2%;
  width: 10%;
  margin-left: 42.5%;
}
  .gallery-button{
    transition-duration: .3s;
    margin-top: 4%;
    margin-right: 10%;
    text-align: center;
    margin: auto;
    width: 150% !important;
    color: rgb(182, 36, 39);
    background-color: white;
    border: 2px solid rgb(182, 36, 39);
    border-radius: 10px;
    font-size: 1.4em;
    cursor: pointer;
  }
  .gallery-button:hover{
    color: #fff;
    background-color:rgb(182, 36, 39)
  }
  .gallery-button:focus{
    outline: none;
  }
.slider {
  position: relative;
  width: max-content;
  font-size: 0;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}
.slider::-webkit-scrollbar{
  width: 13px;
}
/* Track */
.slider::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
/* Handle */
.slider::-webkit-scrollbar-thumb {
  background: rgb(163, 163, 163); 
  border-radius: 10px;
}
/* Handle on hover */
.slider::-webkit-scrollbar-thumb:hover {
  background: #777777; 
}
.slide {
  display: inline-block;
  position: relative;
  margin: 0px;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}
.slide-content{
  height: 15%;
  object-fit: contain;
  margin: auto;
  transition-duration: .5s;
  padding-top: 4%;
  padding-bottom: 8%;
}

.aaction-modal{
  height: 98%;
  position: absolute;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.8);
  width:100%;
  z-index: -1;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 3%;
}
#close-icon{
  transition-duration: .4s;
  position: absolute;
  right: -5%;
  top: 0;
  color: #FFF;
  cursor: pointer;
  font-size: 300%;
}
#close-icon:active{
  font-size: 240%;
}
#wrap-carroussel{
  max-width: 1200px;
  width: 100%;
  display:block;
  position: relative;
}
.aaction-modal-photo{
  max-height: 700px;
  margin: auto;
}
.carroussel{
  display: flex;
  align-items: center;
}



.aaction-banner-shows{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 20em;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=============================SHOWS============================= */
.shows-hover{
  transition-duration: 500ms;
  background-color: rgba(195, 37, 39, 0.3);
  height: 70%;
  width: 90%;
  position: absolute;
  top: 15%;
  left:5%;
  font-weight: bold;
}

.shows-hover:hover{
  transition-duration: 500ms;
  background-color: rgba(195, 37, 39, 0.6);
}

.shows-title{
  text-align: right;
  font-size: 1.8em;
  font-weight: bold;
  padding-right: 25px;
  font-style: italic;
}

.show-title{
  font-size: 4em;
  font-weight: bold;
}

.shows-period{
  text-align: center;
  padding-right: 25px;
  font-size: 2em;
  font-style: italic;
}

  /* ==========================================
                    Landing-page
=========================================== */

.firstpage{
  height: 101vh;
  width: 100vw;
  margin: -10px;
  cursor: pointer;
}

  /* ==========================================
                    Galleries - BO
=========================================== */

.container-gallery{
  padding-top: 3%;
  width: 80%;
  margin: auto;
  min-height: 80vh;
}
.gallery-title{
  text-align: center;
  font-size: 240%;
  margin-bottom: 5%;
}
.photos-gallery{
  margin: auto;
  width: 90%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gallery-div{
  position: relative;
  width: 50%;
  max-height: 15em;
  background-color: khaki;
  margin-bottom: 4%;
}

.gallery-div:hover > .gallery-trash{
opacity: 1;
}
.photo-gallery{
  width: 100%;
  height: 100%;
  z-index: 1;
}

.photo-gallery:hover{
  transition-duration: .8s;
  filter: blur(5px);
}

.gallery-trash{
  transition-duration: .3s;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 2;
  opacity: 0;
}

.gallery-trash:hover + img{
  filter: blur(5px);
}

.gallery-form{
  margin-top: 4%;
}

.add-picture{
  padding-top: 1%;
  height: 10%;
  width: 27%;
  margin: auto;
  text-align: center;
  border: 1px rgb(177, 177, 177) solid;
  border-radius: 5px;
}

.input-photos{
  background-color: rgb(206, 206, 206);
}

.import-gallery{
  font-size: 30%;
}
.btn-outline-green{
  background-color: white;
  color:  rgb(18, 160, 18);
  outline: none;
  border: 2px solid rgb(18, 160, 18);
  padding: 1%;
  border-radius: 10px;
}
.btn-outline-green:hover{
  color: white;
  background-color:  rgb(18, 160, 18);
}

  /* ==========================================
                    Galleries - USER
=========================================== */
.gallery-container{
  margin-top: 5%;
  text-align: center;
}

.return-button{
  background-color: rgb(97, 97, 97);
  color: white;
  font-size: 120%;
  padding: .7%;
  border-radius: 7px;
  margin-top: 5%;
  margin: auto;
  text-decoration: none;
}

.return-button:hover{
  background-color: rgb(68, 68, 68);
}

.masonry-container{
  margin-top: 3% !important;
  position: relative;
  min-height: 100vh;
  text-align: center;
  width: 80%;
  margin: auto;
}

.masonry { /* Masonry container */
  -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
    -webkit-column-gap: 2%;
    -moz-column-gap: 2%;
  column-gap: 2%;
    -moz-column-gap: 2%;
    -webkit-column-gap: 2%;
    column-gap: 2%;
}
.item {
  transition-duration: .8s;
    display: inline-block;
    width: 100%;
    margin: 2%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.item img{max-width:100%;}

@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}


/* ==========================================
                    Contact
=========================================== */
.input-contact{
  margin-top: 4%;
  font-size: 1.2em !important;
  padding: 1%;
}

.contact-front-container{
  width: 40%;
  margin: auto;
}

.contact-form{
  margin-top: 10%;
  margin-bottom: 10%;
}

.contact-button-div{
  width: 100%;
  text-align: center;
}

.contact-button{
  transition-duration: .3s;
  margin-top: 4%;
  width: 30%;
  background-color: rgb(182, 36, 39);
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 1.4em;
}

.contact-button:hover{
  transition-duration: .3s;
  background-color: rgb(161, 33, 35);
}

.newsletter-container{
  margin: auto;
  margin-top: 18%;
  margin-bottom: 3%;
}

.newsletter-form{
  height: 3em;
  display: flex;
  align-items: center;
}


.newsletter-button{
  transition-duration: .3s;
  background-color: white;
  color:black;
  text-align: center;
  width: 30%;
  font-size: 1.4em;
  border-radius: 10px;
  margin-left: 3%;
  margin-top: 4%;
  padding-top: 0.1em;
  border: 2px solid rgb(39, 39, 39);
}

.newsletter-button:hover{
  transition-duration: .3s;
  background-color: rgb(36, 36, 36);
  color: #fff;
}

.newsletter-label{
  font-size: 1.5em;
  margin-right: 3%;
  margin-top: 5%;
}


/* ==========================================
                    Contact
=========================================== */

.futur-event{
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(249, 176, 58);
  color: #fff;
  font-size: 200%;
  border-radius: 20px 20px 0% 0;
  padding-left: 5%;
}

.event-card{
  width: 70%;
  margin: auto;
  display: flex;
  position: relative;
  margin-bottom: 5%;  
  transition-duration: .5s;
}

.event-card:hover > .card-event-photo{
  width: 50%;
  transition-duration: .5s;
  margin-right: -3%;
}

.event-card:hover > .card-event-infos{
  /* width: 50%;
  padding: 0%; */
  transform: translateX(.8em);
  transition-duration: .5s;

} 

.card-event-photo{
  width: 47%;
  max-height: 22em;
  text-align: center;
  transition-duration: .5s;
}

.event-photo{
  width: 100%;
  object-fit: cover;
}

.card-event-infos{
  width: 50%;
  margin-left: 5%;
  transition-duration: .5s;
  padding: 1%;
}

.card-event-title{
  font-size: 220%;
  margin-bottom: -2%;
}

.card-event-place{
  border-top: 1px solid #D7D7D7;
  font-weight: bold;
  padding-top: 1%;
  font-size: 100%;
  margin-bottom: -5%;
}

.card-event-desc{
  border-top: 1px solid #D7D7D7;
  padding-top: 1%;
  /* -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis; */
  white-space: normal;
  font-size: 90%;
  margin-bottom: -5%;
}

.bold{
  font-weight: bold;
}

.card-event-period{
  font-size: 120%;
  font-weight: bold;
  margin-bottom: -5%;
}


/* ==========================================
                    Team
=========================================== */
.team-container{
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  margin-top: 10%;
  text-align: center;
}

@media screen and (max-width: 1650px){
  .team-container{
    width: 70%;
  }
}

@media screen and (max-width: 1400px){
  .team-container{
    width: 80%;
  }
}

@media screen and (max-width: 1200px){
  .team-container{
    justify-content: center;
  }
}

.team-big-card{
  height: 30em;
  width: 30%;
  margin-bottom: 5%;
  text-align: center;
  position: relative;
  min-width: 28em;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.team-img{
  height: 100%;
  cursor: pointer;
  object-fit: fill;
}

.right{
  margin-left: auto;
  margin-right: 0;
}

.team-infos{
  min-height:30em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 2;
}

.team-name{
  font-size: 300%;
}

.team-title{
  font-size: 120%;
  font-style: italic;
}

.team-desc{
  text-align: justify;
  padding-right: 2%;
  padding-left: 2%;
  font-size: 140%;
}




/* ==========================================
                    Partner
=========================================== */
.partner-title{
  text-align: center;
  font-size: 200%;
  margin-bottom: 5%;
}

.top5{
  margin-top: 5%;
}

.partner-container{
  margin: auto;
  width: 80%;
  display: flex;
  margin-bottom: 5%;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2.5%;
}

.partner-card{
  margin-left: 3%;
  margin-right: 3%;
  min-width: 9em;
  position: relative;
  width: 13%;
  height: 10em;
  margin-top: 5%;
}

.partner-photo-div{
  display: flex;
  align-items: center;
  height: 10em;
}

.partner-photo{
  width: 80%;
  margin: auto;
}

.partner-infos{
  font-size: 130%;
  color: transparent;
  padding-bottom: 1%;
}

.partner-card:hover > .partner-infos{
  transition-duration: .5s;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(238, 238, 238);
  position: absolute;
  top: 50%;
  padding-bottom: 0%;
}

.partner-card:hover button{
  color: rgb(238, 238, 238);
}

.partner-icons{
  display: flex;
  justify-content: space-around;
}

.partner-icon{
  font-size: 180%;
}

.partner-icon:hover{
  transition-duration: .3s;
  font-size: 190%;
}

.partner-name{
  text-align: center;
  margin-top: 2%;
}

.partner-form{
  margin-top: 3%;
}


/* ==========================================
                    Partner - user
=========================================== */

.paartner-title{
  text-align: center;
  margin-top: 5%;
  font-size: 300%;
}

.paartners-logo-container{
  display: flex;
  flex-wrap: wrap;
}

.paartner-logo-div{
  width: 15%;
  height: 8em;
  margin-left: 1%;
  margin-right: 1%;  
  margin-bottom: 5%;
}

.paartner-logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


 
/* ==========================================
                   MEDIA QUERY SMARTPHONE
=========================================== */

@media screen and (min-width: 100px) and (max-width: 600px){
  
  .home-title{
    font-size: 400%;
    margin-left: 3%;
  }
  .home-text{
    width: 90%;
    font-size: 220%;
    margin-top: 20%;
  }
  .footer-icons{
    width: 50%;
  }
  .banner{
    height: 53vh;
  }
  .home-banner-photo{
    background-position: bottom;
  }
  .company-banner-photo{
    height: 50vh;
    background-position: bottom;
  }
  .aactions-banner-photo{
    min-height: initial;
    height: 50vh;
    background-position: bottom;
  }
  .shows-banner-photo{
    min-height: initial;
    height: 50vh;
    background-position: bottom;
  }
  .agenda-banner-photo{
    min-height: initial;
    height: 50vh;
    background-position: bottom;
  }
  .partner-banner-photo{
    min-height: initial;
    height: 50vh;
    background-position: bottom;
  }
  .team-banner-photo{
    min-height: initial;
    height: 50vh;
    background-position: bottom;
  }
  .contact-banner-photo{
    background-position: 25% 75%;
  }
  .contact-banner{
    height: 53vh;
  }
  .company-text-photo{
    font-size: 120%;
    width: 80%;
    line-height: 1.4em;
    text-align: justify;
  }
  .company-text{
    margin: auto;
    font-size: 120%;
    width: 80%;
    line-height: 1.4em;
    text-align: justify;
  }
  .img-company1{
    width: 100%;
  }
  .banner-title{
    font-size: 13vw;
    margin-left: 2%;
  }
  body{
    width: 100.5%;
  }
  .first-word{
    margin-left: 10%;
  }
  .last-para{
    text-align: left;
    font-size: 120%;
    width: 80%;
    margin: auto;
    line-height: 1.4em;
    margin-top: -5%;
  }
  .aactions-text{
    width: 75%;
    line-height: 1.4em;
   }
   .aactions-desc{
     font-size: 120%;
   }
   .made-container{
     width: 90%;
   }
   .aactions-img{
     width: 100%;
   }
   .aactions-hover{
    background-color: rgba(249, 176, 58, 0.7);
   }
   .shows-hover{
    background-color: rgba(195, 37, 39, 0.7);
    overflow: hidden;
   }
   .aactions-place{
    font-size: 300%;
    margin-top: 5%;
  }
  .shows-period{
    font-size: 180%;
  }

  .aaction-place{
    font-size: 350%;
    margin-left: 3%;
  }
  .aaction-container{
    width: 75%;
    text-align: justify;
    line-height: 1.4em;
  }
  .aaction-desc{
    font-size: 120%;
    width: 100%;
    line-height: 1.4em;
    text-align: justify;
  }
  #close-icon{
    position: absolute;
    right: 4%;
    top: 8%;
    z-index: 3;
    font-size: 200%;
    color: rgb(133, 124, 124);
  }
  .li-modal{
    max-height: 20em;
  }
  .aaction-modal-photo{
    height: 100%;
    object-fit: contain;
  }
  .logo-partner-container{
    width: 20%;
    height: 7.6em;
    margin-right: 4%;
  }
  .logo-partner-container{
    margin-bottom: 1.5%;
  }
  .aaction-link-title{
    margin-bottom: -.5%;
  }
  .aaction-gallery-div{
    width: 30%;
    margin-left: 28%;
  }

  .event-card{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
  }
  .card-event-photo{
    width: 100%;
  }
  .card-event-infos{
    width: 90%;
  }
  .card-event-period{
    margin-bottom: -15%;
  }
  .card-event-title{
    margin-bottom: -10%;
  }
  .card-event-desc{
    margin-left: -1%;
    text-align: justify;
  }
  .paartners-logo-container{
    margin-bottom: 35%;
    margin: auto;
  }
  .paartner-title{
    font-size: 200%;
  }
  .first-title{
    margin-top: 25%;
    margin-bottom: 20%;
  }
  .paartners-logo-container{
    text-align: justify;
  }
  .paartner-logo-div{
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .team-container{
    margin-top: 10%;
  }
  .team-big-card{
    height: 20em;
    margin-bottom: 15%;
  }
  .team-infos{
    min-height: 20em;
  }
  .team-name{
    font-size: 200%;
    margin-top: 1%;
  }
  .team-title{
    font-size: 100%;
    margin-top: -6%;
  }
  .team-desc{
    font-size: 115%;
    margin-top: -2%;
  }

  .contact-button{
    width: 60%;
  }
  .contact-form{
    margin-top: 20%;
  }
  .newsletter-form{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
  }
  .newsletter-label{
    font-weight: bold;
  }
  .newsletter-button{
    width: 60%;
  }
  .contact-front-container{
    height: 70vh !important;
  }

  .footer{
    margin-bottom: -2%;
  }
}