body {
  font: 14px;
  font-family: "Lato", sans-serif;
}

.logo {
  width: 7em;
  transform: rotate(-20deg);
}

/* =================================================
                        Navbar
==================================================*/

.hand-nav-admin{
  background-color:rgb(31, 30, 30);
  height: 7.5em;
  padding: 1.6em;
  padding-left: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hand-nav {
  font-family: 'Lato', sans-serif;
  background-color: white;
  height: 7.5em;
  padding: 1.6em;
  padding-left: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: #c32527 4px solid;
}

.nav-links {
  color: #fff !important;
  font-weight: bold !important;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
}


/* =================================================
                        Carroussel
==================================================*/

.carroussel {
  position: relative;
}

.index-carroussel{
  height: 70.5vh;
}

.home-carroussel{
  height: 105vh;
}

.carroussel > *:nth-child(1) {
  transform: translateX(-100%);
  visibility: hidden;
}

.carroussel > *:nth-child(3) {
  transform: translateX(100%);
  visibility: hidden;
}

.carroussel > * {
  position: absolute;
  transition: visibility ease-out 0s 0.4s, transform ease-out 0.4s 0.4s,
    opacity ease-out 0.4s;
  z-index: 0;
  opacity: 0.5;
  visibility: hidden;
}

.carroussel > *.mouv {
  visibility: visible;
  opacity: 1;
}

.douce_disparition {
  transition: visibility ease-out 0.4s, transform ease-out 0.4s;
  z-index: 1;
}

/*=================================================
                        Description
==================================================*/

.relative {
  position: relative;
}

#carrousselImg {
  overflow: hidden;
  display: flex;
  flex: 0 0 100%;
}

#carrousselImg .img_carrous {
  flex: 0 0 100%;
}

.img_carrous {
  width: 100%;
}

.img1{
  position: relative;
  background-color: rosybrown;
  background-image: url(/images/compagnie.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-frame {
  position: absolute;
  bottom: 4%;
  left: 2%;
  height: 35%;
  width: 70%;
  background-color: rgba(249, 176, 58, 0.6);
  padding: 1em;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.home-title{
  font-size: 4em;
  color: #fbb03b;
  font-weight: bold;
  text-align: right;
  margin-right: 2%;
  margin-top: 2%;
  
}

.home-text{
  font-size: 450%;
  color: white;
  font-weight: bold;
  display: block;
}


@media screen and (max-width: 1250px){
  .home-text{
    font-size: 350%;
  }
  .home-frame{
    height: 28%;
  }
}
/* @media screen and (max-width: 1050px){
  .home-text{
    font-size: 3.5em;
  }
}
@media screen and (max-width: 700px){
  .home-text{
    font-size: 2.5em;
  }
}
 */
#carrousselImg .img_carrous img {
  margin-left: 0;
  width: 100%;
}
.arrow {
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: calc(50% - 4rem);
  background: rgb(68, 68, 68, 0.95);
  transition: transform 0.1s ease-out;
  box-shadow: 20px 19px 17px -13px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.arrow.gauche {
  left: 0;
  transform: rotateY(180deg);
}
.arrow.droite {
  right: 0rem;
}
.arrow-top,
.arrow-bottom {
  background-color: rgb(198, 198, 198);
  height: 2px;
  left: 27%;
  position: absolute;
  top: 50%;
  width: 35%;
}
.arrow-top:after,
.arrow-bottom:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.1s;
}
.arrow-top {
  transform: rotate(54deg);
  transform-origin: bottom right;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}
.arrow-bottom {
  z-index: 0;
  transform: rotate(-54deg);
  transform-origin: top right;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.1s;
}
.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.1s;
}
.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}
.arrow:active {
  transform: scale(0.95);
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.5);
}
.arrow.gauche:active {
  transform: rotateY(180deg) scale(0.95);
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.5);
}


.landing{
  position: absolute;
  top: 0px;
  width: 99vw;
  z-index: -1;
}

/* ==========================================
              Compagnie
  =========================================== */

.company-text{
  font-size: 1.2em;
  max-width: 98%;
  line-height: 1.8em;
}

.company-text-photo{
  font-size: 1.2em;
  line-height: 1.8em;
}

.company-title{
  margin-left: 53%;
}

@media screen and (min-width: 1610px){
  .img-company1{
    width: 49%;
  }
  .company-text-photo{
    width: 44%;
    margin-left: 2px;
  }
}

@media screen and (max-width: 1610px){
  .company-text-photo{
    width: 90%;
  }
  .company-text{
    width: 90%;
  }
  .img-company1{
    width: 100%;
    margin-bottom: 3em;
  }
  .first-word{
    margin-left: 1em;
  }
  .company-title{
    margin-left: auto;
  }
}



/* ==========================================
              Générique
  =========================================== */
  .made-container{
    min-height: 80vh;
    width: 80%;
    margin: auto;
  }

  .yellow {
    color: #fbb03b;
  }
  
  .yellow:hover {
    color: #fbb03b;
  }
  
  .red {
    color: #c32527;
  }
  
  .red:hover {
    color: #c32527;
  }

  .white{
    color: #fff;
  }

  .white:hover{
    color: #fff;
  }

  .black{
    color: black;
  }

  .black:hover{
    color: black;
  }

  .link-white:hover{
  text-decoration: none;
  }

  .dashboard-container{
    min-height: 85vh;
  }
  .separator{
    border-top: 1px solid rgb(184, 184, 184);
    margin: auto;
    width: 90vw;
  }

  .button-container{
    text-align: center;
  } 

  /* ==========================================
              Login
  =========================================== */
  .login-form{
    font-size: 1.2em;
    margin-top: 10%;
  }

  #login-button{
    margin: auto;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 40%;
  }


   /* ==========================================
              Dashboard
  =========================================== */
 
label{
  font-size: 1.2em;
}

.action-title{
  font-size: 3em;
  margin-top: 2em;
}

.messages-title{
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 3.4em;
}

.action-button{
font-size: 1.3em;
}

.actions-list{
  font-size: 1.13em;
}

.action-item{
  height:10.3em
}

.photo-list{
  height: 10em;
}

.icon-column{
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description-list{ 
  overflow: auto;
}

.cultural-actions{
  margin-top:5em;
}

.delete-button{
  background-color: transparent;
  border: none;
}

.messages-container{
  margin: auto;
  width: 60%;
}

.message-container{
  margin-bottom: 4em;
}

.message-header{
  position: relative;
}

.card-date{
  position: absolute;
  right: 2em;
}

.message-text{
  font-size: 113%;
}

.card-title{
  padding-bottom: 0.7em;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.message-buttons{
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  justify-content: space-between;
}

.read-card{
  width: 80%;
  height: 80%;
  font-size: 80%;
  margin: auto;
}

.card-title-read{
  font-size: 100%;
}


  /* ==========================================
            Cultural Actions / Shows
=========================================== */

.aactions-container{
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  flex-wrap: wrap;
}

.aactions-img{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5%;
  background-image: url(/images/culturelle.png);
  background-size: cover;
  width: 46%;  
  min-width: 37em;
  height: 33em;
  padding-top: 2em;
} 

@media screen and (max-width: 1700px){
  .aactions-img{
    width: 65%;
    margin: auto;
    margin-bottom: 8%;
  }
}

@media screen and (max-width: 1420px){
  .aactions-period{
    transition-duration: .8s;
    margin-top: -4%;
  }
  .aactions-title{
    transition-duration: .8s;
    margin-top: -3%;
  }
}


.aactions-hover{
  position: relative;
  transition-duration: 500ms;
  background-color: rgba(249, 176, 58, 0.6);
  height: 92%;
  width: 90%;
  margin-top: 2em;
  font-weight: bold;
  opacity: 0;
}

.aactions-img:hover > .aactions-hover{
  transition-duration: 500ms;
  opacity: 1;
}

.aactions-place{
  font-size: 350%;
  text-align: center;
  letter-spacing: 2px;
}

.aactions-title{
  text-align: right;
  font-size: 2.6em;
  padding-right: 25px;
  font-style: italic;
}

.aactions-period{
  text-align: right;
  padding-right: 25px;
  font-size: 1.5em;
  font-style: italic;
}

.aactions-logo{
  background-color: rgba(255, 255, 255, 0.5);
  height: 8em;
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.aaction-container{
  padding-top: 5%;
  width: 80%;
  margin: auto;
  margin-bottom: 5%;
}

.aaction-place{
  font-size: 400%;
  font-weight: bold !important;
  margin-bottom: 3%;
}

.aaction-desc{
  font-size: 165%;
  letter-spacing: 1.2px;
}

.aaction-caroussel{
  margin-bottom: 5%;
  height: 10em;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.aaction-photos{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.aaction-photo{
  transition-duration: .5s;
  cursor: pointer;
  height: 8em;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
}

.aaction-photo:hover{
  height: 8.5em;
  transition-duration: .5s;
}

.aaction-right-arrow{
  margin-right: 1%;
  cursor: pointer;
}

.aaction-right-arrow:hover{
  color: grey ;
}

.aaction-left-arrow{
  margin-left: 1%;
  cursor: pointer;
}

.aaction-left-arrow:hover{
  color: grey;
}


/* ==========================================
                    Shows
=========================================== */


.shows-hover{
  transition-duration: 500ms;
  background-color: rgba(195, 37, 39, 0.5);
  height: 92%;
  width: 90%;
  margin-top: 2em;
  font-weight: bold;
  opacity: 0;
}

.aactions-img:hover > .shows-hover{
  transition-duration: 500ms;
  opacity: 1;
}

.shows-place{
  font-size: 3.5em;
  text-align: center;
  letter-spacing: 2px;
}
.shows-desc{
  margin-top: 3.6em;
  height: 5em;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2.5em;
  text-overflow: ellipsis;
}

.shows-title{
  text-align: center;
  font-size: 1.8em;
  padding-right: 25px;
  font-style: italic;
}

.show-title{
  font-size: 4em;
  font-weight: bold;
}

  /* ==========================================
                    Landing-page
=========================================== */

.firstpage{
  height: 101vh;
  width: 100vw;
  margin: -10px;
  cursor: pointer;
}

  /* ==========================================
                    Galleries
=========================================== */

.container-gallery{
  width: 80%;
  margin: auto;
}

.photos-gallery{
  margin: auto;
  width: 90%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery-div{
  position: relative;
}

.gallery-div:hover > .gallery-trash{
  display: block;
}

.photo-gallery{
  z-index: 1;
  max-height: 15em;
  object-fit: contain;
}

.photo-gallery:hover{
  transition-duration: .8s;
  filter: blur(5px);
}

.gallery-trash{
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 2;
  display: none;
}

.gallery-trash:hover + img{
  filter: blur(5px);
}

.add-picture{
  height: 10%;
  text-align: center;
}

.input-photos{
  background-color: rgb(206, 206, 206);
}

.import-gallery{
  font-size: 30%;
}

/* ==========================================
                    Contact
=========================================== */

.contact-title{
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 23%;
  font-weight: bold;
  font-size: 400%;
}

.contact-container{
  background-color: rgba(249, 176, 58, 0.3);
  height: 60vh;
  margin-bottom: 3%;
}

.input-contact{
  font-size: 1.2em !important;

}

.contact-image{
  border-radius: 50%;
  width: 50%;
}

.contact-front-container{
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
}

.contact-button{
  width: 100%;
  background-color: black;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 1.4em;
}

.newsletter-container{
  margin: auto;
  margin-top: 2%;
  height: 2.5em;
  line-height: 2.5em;
  margin-bottom: 3%;
}

.newsletter-button{
  background-color: black;
  color: #fff;
  text-align: center;
  width: 10em;
  height: 2em;
  font-size: 1.4em;
  border-radius: 10px;
  margin-left: 3%;
  padding-top: 0.1em;
  border: none;
}

.newsletter-label{
  font-size: 1.5em;
  margin-right: 3%;
}

.newsletter-form{
  display: flex;
  width: 50%;
  margin: auto;
}